<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="Image width" type="xint" value="640"/>
<entry key="Image height" type="xint" value="640"/>
<entry key="Image resolution" type="xstring" value="NA"/>
<entry key="Image background color" type="xstring" value="#ffffff"/>
<entry key="Text point size" type="xint" value="12"/>
<config key="R settings">
<entry key="script" type="xstring" value="fullyCleanDF &lt;- knime.in%%00010%%00010#####################%%00010# Gerenate a dataset by country%%00010####################%%00010%%00010countryNPS &lt;- tapply(fullyCleanDF$Likelihood_Recommend_H,fullyCleanDF$GUEST_COUNTRY_R,  mean)%%00010resNames &lt;- names(countryNPS)%%00010%%00010countryDF &lt;- data.frame(countryNPS, resNames)%%00010countryDF &lt;- countryDF[complete.cases(countryDF), ]%%00010countryDF$countryNPS &lt;- c(countryDF$countryNPS)%%00010countryDF$resNames &lt;- tolower(countryDF$resNames)%%00010%%00010##############%%00010#barchart of mean NPS by  country%%00010###############%%00010library(ggplot2)%%00010%%00010g &lt;- ggplot(countryDF, aes(x = resNames, y=countryNPS)) + geom_col() + ggtitle(&quot;NPS by Country&quot;) +  %%00010  xlab(&quot;Country&quot;) + ylab(&quot;Average&quot;) %%00010%%00010g &lt;- g + theme(axis.text.x = element_text(angle = 90, hjust = 1))%%00010g"/>
<entry key="templateUUID" type="xstring" isnull="true" value=""/>
<entry key="version" type="xstring" value="version 1.x"/>
<entry key="Output non numbers (NaN, Inf, -Inf) as missing cells" type="xboolean" value="false"/>
<entry key="sendRowNames" type="xboolean" value="true"/>
<entry key="sendBatchSize" type="xint" value="10000"/>
<entry key="knimeInType" type="xstring" value="data.frame"/>
</config>
<entry key="Image type" type="xstring" value="PNG"/>
</config>
<entry key="customDescription" type="xstring" value="Gerenate a dataset by country"/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.r.RViewNodeFactory"/>
<entry key="node-name" type="xstring" value="R View (Table)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME R-Project nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.r"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.1.v201712211140"/>
<entry key="node-feature-name" type="xstring" value="KNIME Interactive R Statistics Integration"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.r.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.1.v201712211140"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="R View (Table)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
